<h5>New contact</h5>
<div class="form-group">
  <input class="form-control" type="text" placeholder="Name" ng-model="contactsVm.contact.name">
</div>

<div class="form-group">
  <input class="form-control" type="text" placeholder="Address" ng-model="contactsVm.contact.address">
</div>

<div class="form-group">
  <input class="form-control" type="text" placeholder="Cellphone" ng-model="contactsVm.contact.cellphone">
</div>

<div class="form-group">
  <input class="form-control" type="text" placeholder="Phone" ng-model="contactsVm.contact.phone">
</div>
<button class="btn btn-success" type="button" ng-click="contactsVm.addContact()">Save</button>
