<div>
  <form name="loginForm">
    <div class="form-group" ng-class="{'has-error': loginForm.userName.$invalid && loginForm.userName.$touched }">
      <label for="userName">Username: </label>
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="addon1"  aria-hidden="true">Username</span>
        <input type="text" name="userName" class="form-control" placeholder="Username" aria-describedby="addon1" ng-model="mainVm.user.username" ng-required="true">
      </div>
      <span ng-show="loginForm.userName.$error.required && (loginForm.userName.$touched)" class="help-block">Username is required</span>
    </div>
    <div class="form-group" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$touched }">
      <label for="password">Password: </label>
      <div class="input-group input-group-lg">
        <span class=" input-group-addon" id="addon2" aria-hidden="true"><i class="fa fa-lock"></i></span>
        <input type="password" name="password" class="form-control" placeholder="Password" aria-describedby="addon2" ng-model="mainVm.user.password" ng-required="true">
      </div>
      <span ng-show="loginForm.password.$error.required && (loginForm.password.$touched)" class="help-block">Password is required</span>
    </div>
    <button class="btn btn-primary btn-lg center-block" type="submit" ng-disabled="loginForm.$invalid" ng-click="mainVm.login()">Log In</button>
  </form>
</div>
